[2019-11-25 07:17] dennismorello opened #1 "Use Animate.css speed and delay CSS classes"
Remap Animate.css class names to “slower”, “slow”, “normal”, “fast” and “faster” for the `speed` prop; similarly for the `delay` prop

[2019-11-25 07:17] dennismorello opened #2 "Add triggerOnce and remove count prop"

[2019-11-25 07:20] dennismorello commented on #1
Remap Animate.css class names to “slowest”, “slower”, “slow”, “normal”, “fast”, “faster” and “fastest” for the `speed` prop; similarly for the `delay` prop

[2019-11-25 08:02] dennismorello opened #3 "Add fraction prop"
Add a new `fraction` prop to specify how much an element should be in viewport before triggering the reveal animation.

[2019-11-25 08:04] #2 closed

[2019-11-25 08:07] dennismorello commented on #2
Closed by commit 4fabaf9822e3679966cd24c81e1f085792cac2be

[2019-11-25 08:18] #1 closed

[2019-11-25 08:28] #3 closed

[2019-11-25 18:54] dennismorello opened #4 "Rename lib to react-awesome-reveal"

[2019-11-25 23:45] #4 closed

[2019-11-26 21:43] dennismorello opened #5 "Add overflow=hidden to content area of demo site"

[2019-11-26 21:45] dennismorello opened #6 "Redesign navbar on demo site"
Decide if maintain a single row of links (in this case remove the inner flex container) or add an hamburger menu for selecting the animations

[2019-11-26 21:50] dennismorello opened #7 "Consider to remove visibility=hidden when elements are not in viewport"
Handle the potential side effects of removing the mentioned style rule (mainly flickering on initial rendering, before the CSS file is loaded). If side effects are present, consider other ways (eg. injecting style as needed using `react-helmet`)

[2019-11-27 07:58] #5 closed

[2019-11-28 13:33] dennismorello opened #8 "Include Animate.css through babel-plugin-transform-import-css"
Include Animate.css as a direct dependency and use `babel-plugin-transform-import-css` to transform the CSS content into a JS object, so that users don’t have to include Animate.css by hand.

[2019-11-28 13:35] dennismorello commented on #7
This may be automatically fixed by #8

[2019-11-28 22:16] dennismorello commented on #6
Closed by 4b425377aa32e8c3b4e9ababe782e3e9be7dc9e1

[2019-11-28 22:16] #6 closed

[2019-11-29 08:03] dennismorello opened #9 "Change speed prop name to duration"
The `speed` prop name currently in use is misleading, since it actually refers to the animation duration. Change it to `duration`.

[2019-11-29 12:13] #7 closed

[2019-11-30 09:24] alexandrairwinliu opened #10 "Direction = "top" purple squares glitch when partially in viewport"
In Fade page of Demo, when Direction = "top" elements are partially in viewport, their opacity flashes between on and off

[2019-11-30 09:26] dennismorello commented on #10
Hi,

This is a know issue. The quick workaround is to set the prop `triggerOnce` to `true`, but I am working on a fix.

Thank you!

[2019-11-30 12:42] #10 closed

[2019-11-30 12:45] dennismorello commented on #10
Hi @alexandrairwinliu, version 1.6.5 fixes the issue.

Thanks!

[2019-11-30 15:19] #8 closed

[2019-11-30 15:19] #9 closed

[2019-12-14 23:38] ljosberinn opened #14 "Add when-prop in the vein of react-reveal"
Hi,

first, let me thank you for this modern alternative to `react-reveal`! Was mostly a plug- & play-replacement process.

However, one feature I'd like to see is missing: the [when](https://www.react-reveal.com/docs/when/) prop.

Example use case:
- login form shakes on error: `<Shake when={!!error}>{children}</Shake>`

[2019-12-15 09:41] dennismorello commented on #14
Hi @ljosberinn,

stay tuned for future updates 🚀

[2019-12-26 04:25] deantheiceman opened #15 "ssr support"
Any support for ssr like react reveal?

[2020-01-17 18:45] fobossalmeron opened #16 "Markup for 'ul' disappears"
When applied to lists, the `<ul></ul>` tags disappear, is this intentional?
It's my understanding that this is not valid html markup.

Pd. Congrats on making this library! :) It's a pleasure to upgrade from react-reveal.

[2020-01-17 18:50] dennismorello commented on #16
Hi @fobossalmeron,

first of all thank you for using react-awesome-reveal!

I will have a look at the issue you discovered, a fix will be released soon :)

[2020-01-17 19:01] #16 closed

[2020-01-17 19:04] dennismorello commented on #16
Version [2.3.1](https://www.npmjs.com/package/react-awesome-reveal/v/2.3.1) fixes this issue!

[2020-01-25 19:22] PeterKottas commented on #14
Bump on this.

[2020-01-25 19:28] PeterKottas opened #17 "Specific imports"
It would be great if it was possible to import specific components instead of the whole bundle. Something along the lines of
[code]
The lib is fairly small (gj on that) but this would make it even smaller.
It's fairly easy to do, I am doing something similar in some of my libs, just set up an extra build step that builds all files with babel and puts them in a specific folder.

You can check out m

[2020-01-25 20:32] PeterKottas opened #18 "Nested cascade"
I was curious if you thought about this. How would one achieve e.g. combined Slide and Fade, both in cascade mode? This seems like a fairly standard animation (appear one by one sliding from the left) but I am afraid that doesn't work atm. I understand that this is a sideproduct of the design. It merely loops over children and wraps them in an animation component with delay. Maybe an API could be

[2020-01-25 20:45] PeterKottas opened #19 "Generic component"
It would be great if, on top of importing different components, there would be one top-level component where you could provide "type" prop and it would render specific effect for you. Useful for wrapped components where you want to override effect for consistent behavior across an app.

[2020-01-26 09:58] #19 closed

[2020-01-26 10:09] dennismorello commented on #19
Hi @PeterKottas, please upgrade to version 2.4.1 and follow the instructions reported [here](https://github.com/dennismorello/react-awesome-reveal#generic-animations).

[2020-01-26 10:18] dennismorello commented on #14
Hi,

you can use the `reverse` prop as a temp workaround by binding it to a state variable of your component.

I have no plan to implement the `when` prop in the near future, but you can submit a PR if you would implement this in a performant way :)

[2020-01-26 10:19] dennismorello commented on #15
Hi,

I have no plan to implement this feature in the near future, but feel free to submit PRs for this!

[2020-01-26 10:24] dennismorello commented on #17
Hi @PeterKottas,

I don't think this would make your final bundle significantly smaller since

1. `react-awesome-reveal` is already very tiny
2. all the effects are internally wrapping the `Reveal` component – they just pass to it a different `animation` prop

Thank you for your idea btw!

[2020-01-26 10:24] #17 closed

[2020-01-26 10:30] dennismorello commented on #18
Hi @PeterKottas,

it sounds like something you can already do by combining different effects and playing with the `delay` prop.

If this is enough I would not add levels of complexity to `react-awesome-reveal`, I would keep it simple ;)

[2020-01-26 10:30] #18 closed

[2020-01-26 15:00] PeterKottas commented on #14
So let me see if I understand this. If you provide reverse={true}, it simply cancels/rewinds the already visible animation? I think it might be somewhat counterintuitive and the when props seem like a more straight forward solution. I personally don't need it, but it's reasonable to expect somebody who does to bring it on board. It's open-source after all ;)

[2020-01-26 15:01] PeterKottas commented on #17
Should have looked at the code you are right, it seemed reasonable at the time of writing. Cheers

[2020-01-26 15:02] PeterKottas commented on #19
Lovely, thanks!

[2020-01-26 15:07] PeterKottas commented on #18
I sort of agree, but still think it might be a tempting feature. You can do it by manually looping over children in your code. Needless to say, not a very user-friendly way of doing things. I am thinking this could be implemented as an extra component (or maybe as part of a new lib with dependency on this). I can imagine something like this.

[code]
That would simply chain the reveals. This could

[2020-01-26 15:10] PeterKottas commented on #18
It would require fairly minimal code, just some extra loop here https://github.com/dennismorello/react-awesome-reveal/blob/master/src/Reveal.tsx#L37

[2020-02-05 12:29] CKGrafico opened #20 "Type instead of Enum?"
Why there are types like export type Direction = 'top' | 'left' | 'bottom' | 'right' | undefined; that cannot be used as enum?

that means we cannot do something like that, can we?

[code]

[2020-02-06 14:47] VGamezz19 opened #21 "Accessibility TabIndex"
Hey,

First of all, i really apreciaty this kind of NPM package that helps alote to the community.

after that, i'm wandering how can I TabIndex, in the elements, and how can we use ur package in a accessibility way!.

this is my example, and when i'm traying to do TAB it never stop. How can we do it possible?

[code]

[2020-02-06 15:46] dennismorello commented on #20
Hi @CKGrafico,

the reason why I export a type and not an enum is because users (especially plain JS developers) can easily use autocompletions without having to import the Direction transpiled member ([documentation](https://www.typescriptlang.org/docs/handbook/enums.html)). I could write it as a `const enum`, but I don't think this would make the developer experience that better ;)

[2020-02-06 15:46] #20 closed

[2020-02-06 16:03] dennismorello commented on #21
Hi @VGamezz19,

thank you for appreciating the library!

I tried to reproduce your code (without the translation library), and I have no issue at all:

[code]

![react-awesome-reveal-tabindex](https://user-images.githubusercontent.com/19588613/73954429-1b991180-4902-11ea-9a76-729f8267e551.gif)

The only thing I see is a wrong sequence of attributes `tabIndex="0" tabIndex` in the first `<h2>` tag y

[2020-02-06 22:07] VGamezz19 commented on #21
yep! sorry I just explained in a wrong way. Those items are out of boundary (i miss explain this important point hehe) you must to scroll to reach them.
So they still hidded before I press Tab. As I can picture, this element dosen't exist yet...

[2020-02-08 12:00] dennismorello commented on #21
No, the elements are mounted when your component wrapping them is rendered.

By default, all elements not in the viewport are not visible (they have `visibility: hidden` CSS rule set) *but* they do exist in the DOM – they are watched by an IntersectionObserver instance that triggers the animation when they enter the viewport.

The "issue" here is that when you jump to an element by pressing the TA

[2020-02-08 12:08] #21 closed

[2020-02-08 12:10] dennismorello commented on #21
@VGamezz19 please update to version `2.4.2`.

[2020-02-18 19:51] bedjiken commented on #15
In the meantime the best workaround is to disable server side rendering and dynamically import the component on the client side.

For example in NextJS:

`import dynamic from "next/dynamic";

const NoSSRComponent = dynamic(
  () => import("NoSSRComponent"),
  {
    ssr: false
  }
);`

[2020-04-07 19:33] remorses commented on #15
THe only thing i noticed is that when rendering in the server the Fade element has full opacity and in client side the element restarts the animation, setting the opacity to 0, making a "flash".

The preferred behaviour is to render the element with 0 opacity also in the server

[2020-04-18 12:54] remorses commented on #15
I made a similar package that supports ssr and uses emotion for a smaller bundle size (do not need to import all animations css)

You can find it [here](https://github.com/remorses/baby-i-am-faded)

[2020-04-30 20:49] boroma4 opened #24 "Elements are visible if fractions prop is used"
Hi, first of all for great work with the library!
I have been using it in my project and when I have tried to use fraction, components are visible before required fraction is reached. When fraction is 0, components are initially invisible and behave as expected.

![image](https://user-images.githubusercontent.com/52993491/80757342-af166300-8b3c-11ea-9e44-4bb2dc89bb3f.png)
Items has fraction set to

[2020-05-08 10:44] mattyusdev opened #25 "Problem with react-router Link and delay with cascade"
Hi,

First thank you for the library! great work!
It was excaclty what I've been looking for :)

#1
I've got an issue when browsing through pages with react-router "Link", for example, I'm using Fade, and the components should not be visible at the beggining but when moving into another page for a split seconds they are shown and then the animation starts.

I've managed to solve it by adding "opac

[2020-05-19 06:48] dennismorello commented on #24
Hi @boroma4, can you please attach a snippet of the involved code? The `fraction` option is passed down to the Intersection Observer constructor, I don’t think it is an issue with the library.

Thanks!

[2020-05-19 08:33] boroma4 commented on #24
I dont have it anymore unfortunately, I was just trying how it works at that time. I believe it was just image and text inside of a <Fade triggerOnce fraction ={0.5}>. I know it is not very useful info, sorry for that.

[2020-05-19 08:54] dennismorello commented on #24
OK, I am closing this then!

[2020-05-19 08:54] #24 closed

[2020-06-04 15:30] itayganor opened #26 "Support for ForwardRef"
Hi Dennis,
First of all, I wanted to say your library is amazing! 🌟

I do have one suggestion tho:

When you use a Reveal component on a custom component, it won't work. You need to wrap it with a "vanilla" HTML element like div, span, etc. This is caused because components do not pass references to their container element by default.

But, since React has `forwardRef`, this is actually possible t

[2020-06-05 07:15] dennismorello commented on #26
Hi Itay,

thank you for having written this issue so well! I will investigate and fix this unexpected behavior during the weekend, and a new release will be released soon.

Cheers

[2020-06-05 07:18] dennismorello commented on #25
Hi @mattyusdev,

this could be related to #26, so after having fixed that I will take a look at this.

Cheers

[2020-06-15 17:33] PeterKottas opened #27 "Animate css in the bundle"
The entire animate.css is included as a string in the package, consequently making the library unnecessarily large. After reading [this](https://github.com/dennismorello/react-awesome-reveal/issues/8), I kind of understand why this was done, but this is quite a disaster for ssr and statically generated pages. My generated HTML pages grew by 50% after adding this lib because the style is inline loa

[2020-06-15 18:59] dennismorello commented on #26
After reading [this](https://reactjs.org/docs/forwarding-refs.html#note-for-component-library-maintainers), I prefer not to handle refs internally and let the user take care of them. I think wrapping your custom components with a `<div>` is a reasonable trade-off.

[2020-06-15 18:59] #26 closed

[2020-06-15 19:01] dennismorello commented on #27
Hi @PeterKottas,

I agree with you. I am going to release a new major version with a per-component CSS handling, so to minimize the amount of styling rules included in the final bundle.

[2020-06-15 19:41] PeterKottas commented on #27
Lovely! Looking forward to that, glhf! :)

[2020-06-15 20:40] PeterKottas opened #28 "Cosmetic issue on docs page"
I love the examples page, very nice design! But it's really annoying that the sidebar disappears every time you choose a new style. It makes it kind of hard to scroll through them when trying to find the right one for your use case. I am pretty sure this will be 5 seconds for you and it will make the experience much smoother :-)

[2020-06-17 07:40] itayganor commented on #26
Seems legit, but adding extra elements with no benefit rather than a compromised workaround is not a good practice. It means there's another div to be taken care of, in terms of CSS and layout, Adds complexity to an already complicated element tree, and just another "gotcha" for the library to warn about.

If you ask me, it sounds like a great reason to have a major bump.

[2020-06-17 14:49] Gauraklein opened #29 "Not working in Safari"
Hi, really like the library. Just wanted to share a bug I've found. It seems the library doesn't work properly in Safari. The error I'm getting is attached below. Tested on IOS 13 as well as desktop safari version 12.0.1.

<img width="1277" alt="Screen Shot 2020-06-17 at 9 49 14 AM" src="https://user-images.githubusercontent.com/45526226/84913166-d7700780-b07f-11ea-9a64-d222d2dd2a17.png">

[2020-06-17 14:55] dennismorello commented on #29
Hi @Gauraklein, react-awesome-reveal uses the Intersection Observer API in order to detect when elements enter the viewport. Make sure to enable the support for this API from Safari settings (under Experimental Features):

![image](https://user-images.githubusercontent.com/19588613/84913774-2be4a880-b0bb-11ea-9a65-762524d8ad38.jpeg)

It should work properly after this change.

Cheers

[2020-06-17 14:57] dennismorello commented on #29
https://caniuse.com/#feat=intersectionobserver

[2020-06-17 14:58] Gauraklein commented on #29
Oh awesome! Thanks @dennismorello

[2020-06-17 14:59] #29 closed

[2020-06-24 10:53] bozskejkaja commented on #18
Hey, I'm not sure if anyone's still looking for how to do this, but I found out that when I use `Fade` and provide a `direction` prop, the animation does indeed combine a Slide and a Fade.
[code]
![Slide_Fade](https://user-images.githubusercontent.com/19172849/85542657-96e13280-b619-11ea-8943-da917c217b1f.gif)

[2020-06-24 12:38] dennismorello commented on #18
This is how the `Fade` animation with a direction is intended to work. You can use the `Slide` animation if you do not want the fade effect.

[2020-07-18 12:48] Frostbourn opened #30 "Content flickering"
Thank you for the awesome work! I love it.

Can you tell me how can I prevent to reload content before animation? Content loads -> then animation triggers. This creates not looking good flicker of content. Do you have any solution for that?

[2020-07-18 13:20] dennismorello commented on #30
Hi @Frostbourn, the quick fix is to use version 2.4.0 of the library (which initially sets “display: hidden” to the child element), I will release a new version that lets you choose wether to initially hide elements or not by setting a prop.

[2020-07-19 09:31] Frostbourn commented on #30
Great, I can't wait!

[2020-07-27 04:19] averyfreeman opened #33 "Is this a fork of react-reveal?"
Hi,

I was just wondering, is this a fork of `react-reveal`? I'm tentatively  looking for a replacement.  `react-reveal` is great, but it hasn't been maintained in 3 years, and it's giving me this warning I can't seem to make go away:

[code]

I added `UNSAFE_` to the library but one of my components which requires the `when={useStateParam)` stopped working afterward.  Would `react-awesome-reveal`

[2020-07-27 05:26] dennismorello commented on #33
Hi @averyfreeman,

this library is not a fork of ‘react-reveal’ and it is not intended to have an API compatibile with it.

It uses modern techniques to bring most of the ‘react-reveal’ features to React apps but I have never planned to port 1:1 the feature that library has.

By the way, more cool stuff is coming to ‘react-awesome-reveal’, and since it is open source everyone can share ideas and i

[2020-07-27 17:19] averyfreeman commented on #33
I appreciate the clarification!  I'm going to look into adopting it as a replacement since it's under active development.

The only consideration I have at the moment is if there's a substitute for `when` that will allow me to pass a boolean for `useState()`, as I'm currently using `react-reveal` for sliding in/out my mobile drawer.

Thanks,
Avery

[2020-07-30 05:40] dennismorello commented on #33
There is already an issue for that, see #14.

[2020-08-02 21:30] dennismorello commented on #27
Version 3 featuring CSS-in-JS animations is now on beta, so I'm closing this.

[2020-08-02 21:30] #27 closed

[2020-08-02 21:31] dennismorello commented on #30
Version 3 with a fix for this is now on beta, I'm closing this.

[2020-08-02 21:31] #30 closed

[2020-08-02 21:32] dennismorello commented on #15
Version 3 featuring CSS-in-JS animations is now on beta, so I'm closing this since the library should now work properly with SSR.

[2020-08-02 21:32] #15 closed

[2020-08-02 21:32] #33 closed

[2020-08-03 06:47] dennismorello commented on #25
I'm closing this with the release of version 3 beta.

[2020-08-03 06:47] #25 closed

[2020-08-04 20:09] a2441918 opened #35 "animations not working - react-awesome-reveal"
I want to use react-awesome-reveal in my typescript project but the animations doesnt seem to work. However, it works when I use react-reveal. Please advice on what I am missing.

    import React, { Component } from "react";
    import { render } from "react-dom";
    import Hello from "./Hello";
    import { Fade } from "react-awesome-reveal";
    import ReactRevealFade from "react-reveal/Fade";

[2020-08-04 20:16] dennismorello commented on #35
Hi @a2441918,

unfortunately the animations work only if a built-in element is passed as a direct child. The quick workaround is to wrap your component inside a `<div>`.

[2020-08-04 20:24] a2441918 commented on #35
@dennismorello Thanks.

[2020-08-04 20:24] #35 closed

[2020-08-04 20:26] dennismorello commented on #35
Use the version 3.0.0-beta.0 to benefit from many enhancements, a stable v3 release will be released soon!

[2020-08-10 14:29] a2441918 opened #37 "HeadShake removed"
Hi, I am using HeadShake in my code. Any reason for removing it in v3? I still see it in the demo though.

[2020-08-10 14:35] a2441918 commented on #37
Got it. Using <AttensionSeeker effect='headShake'>{child}</AttensionSeeker>

[2020-08-10 14:35] #37 closed

[2020-08-26 10:22] dizip opened #39 "Skip animations above the scroll position after user refresh the page."
Hi guys,
Is there any option to skip animations above the scroll position when the user refreshes the page in the middle of its height?

Thanks in advance!

[2020-08-30 14:26] dennismorello commented on #39
Hi @dizip, this would require storing the scroll position somewhere resistant to page refreshes (eg. `localStorage`) and implementing the logic needed to handle your use case. I don't see any benefit on implementing such a thing directly inside the library, can you tell me more about your use case?

[2020-09-03 02:52] kaliwa opened #40 "className prop in version 3.x"
I expect the className prop to come back, because I have a hard time wrapping the elements; row for example.

[2020-09-03 07:04] dennismorello commented on #40
Hi @kaliwa, I will add `className` and `style` support. Do you expect them to have effect on the container element added by the library or on the child element you pass?

[2020-09-03 07:10] kaliwa commented on #40
Thank you for responding, I hope the effect will be on the child element.

[2020-09-03 07:35] #40 closed

[2020-09-03 07:37] dennismorello commented on #40
Fixed in [v3.1.0](https://www.npmjs.com/package/react-awesome-reveal/v/3.1.0). Thank you!

[2020-09-03 07:39] #39 closed

[2020-09-03 08:53] kaliwa opened #41 "ClassName prop on container element"
Previously that helped a lot, but now I understand that what I need is the effect on the container element, not on the child element.
I've tried version 2 to find out, but this version 3 updates is very good, and it's a shame if I have to go back to version 2. Sorry for bothering you

[2020-09-03 09:51] dennismorello commented on #41
The container element only implements the animations, can you please share a snippet with a description of what you need?

[2020-09-03 09:59] kaliwa commented on #41
[code]
I'm using version 2, and react-bootstrap. And everything works as it should.

[2020-09-03 10:05] dennismorello commented on #41
Ok, to let things be as broader as possible, the final solution I propose is:

- `className` and `style` are added to the container element
- `childClassName` and `childStyle` are added to the child element

A minor version will be released soon.

[2020-09-03 10:17] kaliwa commented on #41
Okay, that's much better. Thank you

[2020-09-03 10:24] #41 closed

[2020-09-03 10:27] dennismorello commented on #41
Implemented in [v3.1.1](https://www.npmjs.com/package/react-awesome-reveal/v/3.1.1).

[2020-09-03 13:14] BroFox86 opened #42 "Pulse causes error"
Pulse animation causes error in my create-react-app template. Other animations work well.

Code:

[code]

<img width="455" alt="Снимок экрана 2020-09-03 в 16 10 14" src="https://user-images.githubusercontent.com/23554264/92119272-3e3fca00-ee00-11ea-8e31-3d9ca1c91f66.png">

[2020-09-03 13:31] dennismorello commented on #42
Hi @BroFox86, since version 3 all attention seeker animations are wrapped by the `AttentionSeeker` component, which accept a prop named `effect` that specifies the animation you want to render: `"bounce"  | "flash"  | "headShake"  | "heartBeat"  | "jello"  | "pulse"  | "rubberBand"  | "shake"  | "shakeX"  | "shakeY"  | "swing"  | "tada"  | "wobble"`.

In your case, you have to refactor your code t

[2020-09-03 13:35] BroFox86 commented on #42
It works! Thank you!

[2020-09-03 13:35] #42 closed

[2020-09-05 05:51] Johnhersh opened #43 "Request: Override fade-in direction distance"
Love this package, it helps out my project a lot!
It would be awesome if I can control the distance elements travel when using Fade with a direction. I'm using Fade with Left and the elements always seem to fly in from off-screen. It would be super helpful if I could override that distance with a set pixel amount,

[2020-09-06 14:07] dennismorello commented on #43
Hi @Johnhersh,

this would be a customization of the default [`fadeInLeft`](https://github.com/dennismorello/react-awesome-reveal/blob/master/src/animations/fading_entrances/fadeInLeft.ts) animation. Since the parameters of that animation are defined inside the `@keyframes` CSS rule, is not possible to do any customization at the moment.

Broadly speaking, what you are looking for is a way to defi

[2020-09-06 14:44] dennismorello commented on #43
Hi @Johnhersh, that's a good issue!

You can customize the animations by importing the `Reveal` component (which is the default export of the library, starting from version 3.2.0) and by passing it a custom `keyframes` prop:

[code]

Cheers!

[2020-09-06 14:55] dennismorello commented on #43
[Documentation](https://github.com/dennismorello/react-awesome-reveal#custom-animations) added.

[2020-09-06 14:55] #43 closed

[2020-09-11 16:08] endrits079 opened #45 "Some elements with wrapped animation components are losing classes"
I have an element with the class container and it has 2 children one with class left and one right
I wrapped children with classes left and right with different animation components tried (Fade,Slide,Bounce,Flip) and the styling was messed  up when I check on developers tools the elements are missing the classes but the inner children have their classes

[2020-09-11 18:24] dennismorello commented on #45
Hi, can you please share a code snippet?

[2020-09-11 18:36] endrits079 commented on #45
https://gist.github.com/endrits079/cc5f5378bb825ba92a75516eb2b82244
the div with class left and right are getting their  classes removed

[2020-09-11 18:41] endrits079 commented on #45
![image](https://user-images.githubusercontent.com/27869578/92961176-1e974a00-f46f-11ea-8294-f584ccb74a9d.png)
The rounded div is supposed to have the class left but doesn't have any

[2020-09-12 21:28] endrits079 commented on #45
Giving the same class to the animation element seems to solve the issue, even the class still missing on the div the correct styles are applied

[2020-09-12 21:30] endrits079 opened #46 "Can't determine the offset from the initial position"
Would be good if you could determine the offset from the initial position by default if I use fade direction left it goes from the whole left side of the screen  I want it to go only from a specific value

[2020-09-12 21:31] dennismorello commented on #45
Please use the **className** prop to add classes to the container element and the **childClassName** prop to add class to the child element wrapped by the animated component. Refer to the documentation to see the details!

[2020-09-12 21:48] #45 closed

[2020-09-12 21:49] dennismorello commented on #46
Please see the **Custom Animations** section of the README 🤓

[2020-09-12 21:49] #46 closed

[2020-09-15 06:26] dennismorello commented on #45
**UPDATE**

Version 3.3.1 includes a fix that allows children to keep their className and style props (they are merged with the ones passed to childClassName and childStyle of an animated component).

[2020-10-02 23:39] rizkyramadhan opened #48 "Performance is worse with multiple animation"
Coming from react-reveal, and I am noticing that react-awesome-reveal animation is jittery and scrolling is janky when there are multiple animation played. Esepecially in animation heavy landing page.

Sorry but I can't create codesandbox at the moment, will do when I have the time. For now, I just informing my experience...

[2020-10-16 05:49] dennismorello commented on #48
This looks strange... Which browser and hardware are you using?

[2020-10-16 05:50] #14 closed

[2020-10-16 05:50] dennismorello commented on #14
This is out of scope.

[2020-10-17 13:59] LhonRafaat opened #49 "callback when element revealed"
Is there any way to run a callback when the element enters viewport? like the one react reveal has (onReveal),

[2020-10-22 01:23] albertcarrete opened #50 "SSR implementation for crawlers?"
One of the promoted features is that this works out of the box with SSR. I took that to mean that when javascript is off the components will still be visible so that crawlers can read the page. If that assumption is incorrect then skip the rest.

I followed the documentation, animation works great.
[code]
but when I turn off javascript the component remains in a hidden state.

In order to circumve

[2020-10-30 11:04] dennismorello commented on #49
I will implement this in a future release 👍🏻

[2020-10-30 11:06] dennismorello commented on #50
Hi @albertcarrete, I will definitely check this.

[2020-10-30 16:13] mploux opened #51 "The Internet Explorer problem..."
Hello,
First thanks a lot for this package, it's awesome !

I am working on a website for a client, the problem is it's in a sector where a lot of people still run internet explorer on XP...
Very annoying to dev a modern website and make it work properly on every browser. Turns out IE is not dead for some people x)

I am having this error on IE11:
`'IntersectionObserver' is undefined`

I'm sure it

[2020-11-01 19:42] itayganor opened #52 "Children elements split up"
Hi there :)

Consider the following snippet:

[code]

In 2.4.2, both spans were rendered inside `.hello`.

Now, on 3.3.1, `Fade` breaks this down into two divs, each containing a single span.

![image](https://user-images.githubusercontent.com/6430313/97812608-07185880-1c8b-11eb-9444-34a5761c4a5f.png)

Codesandbox: https://codesandbox.io/s/react-awesome-reveal-v3-breaks-children-irxig?file=/src/Ap

[2020-11-02 08:13] dennismorello commented on #51
Hi @mploux,

if you have to support older browsers like IE11 you need a polyfill for the IntersectionObserver API (pick [this one](https://www.npmjs.com/package/intersection-observer)).

Hope it helps!

[2020-11-02 08:13] #51 closed

[2020-11-02 08:14] dennismorello commented on #51
Follow [this](https://www.npmjs.com/package/react-intersection-observer#polyfill) basic guide to conditionally load the IntersectionObserver polyfill.

[2020-11-02 08:17] dennismorello commented on #52
Hi @itayganor,

just wrap your 2 spans inside a React fragment:

[code]

[2020-11-02 08:17] #52 closed

[2020-11-02 08:18] dennismorello commented on #48
I'm closing this because I cannot reproduce.

[2020-11-02 08:18] #48 closed

[2020-11-05 20:41] MihaiWill opened #53 "How to trigger animation on variable change?"
What is the equivalent of `spy` prop from [`react-reveal`](https://www.react-reveal.com/docs/props/)
[code]

[2020-11-05 21:43] dennismorello commented on #53
This is currently not supported by this library, it is not a replacement for react-reveal.

This library focuses on efficiently animating elements when they enter the viewport.

[2020-11-05 21:44] #53 closed

[2020-11-09 15:08] #49 closed

[2020-11-10 21:21] coltenkrauter commented on #37
That is odd.. Why was headshake removed? It is still in the demo... @dennismorello?

[2020-11-10 21:23] dennismorello commented on #37
This has not been removed:

<AttensionSeeker effect='headShake'>{child}</AttensionSeeker>

[2020-11-10 21:24] dennismorello commented on #37
This has not been removed:

[code]

[2020-11-10 21:26] coltenkrauter commented on #37
Sorry -- didn't mean to jump the gun there.

So, now I am getting,

[code]

Am I doing this wrong?

Also, why is it that I can't simply import HeadShake?

[2020-11-10 21:26] coltenkrauter commented on #37
🤦

[2020-11-10 21:27] coltenkrauter commented on #37
AttensionSeeker => AttentionSeeker

[2020-11-10 21:30] coltenkrauter commented on #53
@dennismorello I really like what you have done here. Do you have any plans for adding support for this in the future?

[2020-11-10 21:30] dennismorello commented on #37
Because I grouped all effects that grab the user attention.

[2020-11-10 21:35] coltenkrauter commented on #53
Also, @MihaiWill, you might be able to use the reverse prop to get the results that you require. [Helpful comment in #14](https://github.com/dennismorello/react-awesome-reveal/issues/14#issuecomment-578487979)

[2020-11-10 21:37] coltenkrauter commented on #37
Ah, that makes sense. Seems like a good decision. Thanks for clarifying. I saw that in the README but it hadn't clicked...

[2020-11-16 18:48] TheMeteoRain opened #55 "Programmatically trigger reveal or disable capability"
Hi,

just here to leave a suggestion to allow programatically trigger reveal or disable them on the fly.

For example:
You have a one big web page and you have headings that include anchor links (e.g. /#about), so you can jump between sections quickly. If I implement this now and jump to third heading on the site, sections one and two still hasn't triggered their reveal animations, but when I scro

[2020-11-19 16:05] cargallo opened #56 "Error with multiple children in typescript"
Hi, I'm reciving this error in typescript. I copied the code from an example in docs. Thanks in advance!

![image](https://user-images.githubusercontent.com/13320290/99691316-dba5b400-2a67-11eb-8e59-4221ba4fe973.png)

[2020-11-19 16:26] cargallo commented on #56
It was my mistake. Sorry! Closing this.

[2020-11-19 16:26] #56 closed

[2020-11-19 16:55] cargallo opened #57 "Strange error in component wrapped by Fade"
Hi, I'm receiving this error when using Fade to wrap another component.

![image](https://user-images.githubusercontent.com/13320290/99697871-e44db880-2a6e-11eb-8522-48c8e17b74fc.png)

[2020-11-19 17:15] dennismorello commented on #57
Hi, unfortunately this is an issue with the latest version of [Emotion](https://emotion.sh). As soon as this will be fixed by the Emotion team, I will update React Awesome Reveal.

As a temporary fix, please use the version `3.4.0` 🦊

[2020-11-19 17:19] cargallo commented on #57
Tnx @dennismorello! I will do that 👍

[2020-11-20 07:09] albertcarrete opened #58 "React Hooks warning, possibly related to Emotion"
I've been receiving this warning while using react-awesome-reveal lately. Seems to be related to Emotion.

[code]

I've attached [a simple Codesandbox](https://codesandbox.io/s/youthful-worker-9p962?file=/src/App.js) that contains React v17 and this package that shows the error.

[2020-11-20 07:10] dennismorello commented on #58
Duplicate of #57.

[2020-11-20 07:12] dennismorello commented on #58
Please use version 3.4.0 as a temporary fix.

[2020-11-20 07:13] albertcarrete commented on #58
I must be tired, please ignore. Feel free to close, thanks!

[2020-11-20 07:14] #58 closed

[2020-11-22 12:33] nubbdev opened #59 "React has detected a change in the order of Hooks called by EmotionCssPropInternal"
Hi, I'm just installed and put some Fade effect on my Component and I got some error message like this :

![Screenshot 2020-11-22 192130](https://user-images.githubusercontent.com/22774254/99903665-42d99780-2cf8-11eb-858b-392da9c8b45c.png)

I use this :
`<Fade direction="top" duration={500}>
.....
</Fade>
`

This is from me or the package? Tell me how I can solve
Thank you for sharing awesome pack

[2020-11-22 12:46] dennismorello commented on #59
This is a duplicate of #57.

[2020-11-22 12:46] #59 closed

[2020-11-23 06:17] nubbdev commented on #59
Thankyou @dennismorello

[2020-12-01 18:02] TamoshaytisV opened #60 "Add forever prop"
Is it possible to support `forever` prop like described here https://www.react-reveal.com/docs/props/ ?
I think it would be nice to control animation repeat until user takes any action

[2020-12-03 07:49] dennismorello commented on #60
Hi @TamoshaytisV, thank you for this idea 💡.

React Awesome Reveal was born to efficiently handle animations on components entering and exiting the viewport, so it has a narrower scope than React Reveal - it does less but better 😉

I will eventually add a similar feature in a future release - in the meantime, feel free to submit PRs!

[2020-12-03 19:18] imnasnainaec commented on #55
Without more control on triggering events, `react-awesome-reveal` is not a sufficient [substitute](https://github.com/rnosov/react-reveal/issues/105#issuecomment-703000289) for `react-reveal`.

[2020-12-03 19:19] dennismorello commented on #55
@imnasnainaec no-one said this is a replacement for `react-reveal` 🤔

[2020-12-03 19:22] dennismorello commented on #55
The main purpose of `react-awesome-reveal` is clearly written at the beginning of the README:

[2020-12-04 22:38] ivanjeremic opened #61 "Map Fade's items at same time in viewport."
I have a map which maps over some data and returns the component which is wrapped by the Fade, my problem now is the first 3 items are getting faded in from left at the same tim instead of one by one, this only happens on the 3 that fit in the viewport of my monitor all other components below work fine and fade in one by one, so is it possible to actually do this? I tried a few props and read the

[2020-12-05 08:39] dennismorello commented on #61
Hi @ivanjeremic, can you attach the code snippet?

[2020-12-05 11:39] ivanjeremic commented on #61
Sure here the map par with the code.
`{data &&
        data.length &&
        data.map((post, index) => (
          <Fade direction="bottom-left" triggerOnce={true} cascade={true}>
            <Fragment key={post.id}>
              <NewsComponent post={post} />
            </Fragment>
          </Fade>
        ))}`

[2020-12-05 11:43] dennismorello commented on #61
I would refactor your code to

[code]

Let me know if it helps!

[2020-12-05 19:13] #55 closed

[2020-12-05 19:54] ivanjeremic commented on #61
Thanks this helped to solve the issue. One more question regarding map I have is it possible that every child fade's in from a different direction? `left right left right...`

[2020-12-05 20:01] dennismorello commented on #61
Glad it helped!

For the second question, you should wrap the *i*-th child with a `<Fade>` component, passing it the `direction` prop of your choice (it could be simply a circular selection over an array of directions).

[2020-12-05 20:01] #61 closed

[2020-12-08 12:43] ivanjeremic opened #62 "Issue Items do not appear at the right moment when scrolling down."
If you take a look at my Site [https://dev-institut-fuer-bewegende-kuenste-kohl.vercel.app/](https://dev-institut-fuer-bewegende-kuenste-kohl.vercel.app/) you can see that the Fade works for the news but there is a problem that it does not appear at the right moment when you go down, somehow it feels like the box size or layout size makes the problem to react-awesome-reveal. Also there is the issu

[2020-12-16 21:39] astgermain opened #63 "Add reverse prop"
Animations can easily be reversed for cleanup using state to set the value of a reverse prop and is already implemented but not in documentation.

Example:
`
const [shown, setShown] = useState(false)
const yeetMenu = () => {
    setShown(!shown)
}
<Slide
      duration={500}
      triggerOnce={true}
      direction="right"
      reverse={shown}

I couldn't figure out any other way of implementing

[2020-12-17 18:57] JayeshTiwari03 opened #64 "Change in the order of Hooks"
Getting following Warning in console when trying to use Fade. Has anyone came across this before?

[code]

[2020-12-17 19:33] #62 closed

[2020-12-17 19:33] #64 closed

[2020-12-17 19:34] dennismorello commented on #64
Duplicate of #57

[2020-12-18 06:41] JayeshTiwari03 commented on #64
Thanks

[2020-12-24 15:48] andrepadeti opened #65 "react-reveal props I miss: spy and appear"
Is this repo a fork of react-reveal? I'd love to use this more modern version but my use case makes use of two props I haven't been able to find here: `spy` and `appear`. Is there a workaround?

[2020-12-24 16:07] dennismorello commented on #65
Hi, this is not a fork of react-reveal, this is a completely new and different implementation

[2020-12-24 18:05] andrepadeti commented on #65
That's okay. I thought it might be a fork because of [this comment](https://github.com/rnosov/react-reveal/issues/106#issuecomment-703000171).
If I could just put in my two pennies worth, it would be nice if that could be implemented :-)
Keep up the good work!

[2020-12-24 18:07] dennismorello commented on #65
Thank you @andrepadeti, feel free to submit a PR!

Merry Christmas 🎄

[2020-12-24 18:07] #65 closed

[2020-12-25 23:56] itayganor commented on #17
![image](https://user-images.githubusercontent.com/6430313/103143378-72c3f280-471d-11eb-8b39-1631a2f6280f.png)

@dennismorello Isn't `32.3 KB` big? I only import `{Fade}` throughout my application

[2021-01-06 18:50] meaghanbass commented on #57
I've had the same issue and tried using 3.4.0, but am still getting the error. I was using Fade around Slide. I've tried removing Fade to see if that would help, but am still getting the error. Any thoughts?

[2021-01-06 19:25] dennismorello commented on #57
Why are you putting `<Slide>` as child of `<Fade>`? You can just set the `direction` prop to `<Fade>` and get rid of `<Slide>` 👀

---

The React error is not caused from `react-awesome-reveal` itself, so I do not have control over it. I am releasing [v3.5.2](https://github.com/dennismorello/react-awesome-reveal/releases/tag/v3.5.2) where I updated the `@emotion/react` dependency – the one responsi

[2021-01-06 21:29] meaghanbass commented on #57
@dennismorello I've just updated the Fade to use the direction prop, but it still seems to being giving the error. I tried using just Fade as well without props and was still getting the error

[2021-01-06 21:40] meaghanbass commented on #57
@dennismorello Ahh i figured it out. thanks!!

[2021-01-08 07:31] HanliTheron commented on #50
Hi @dennismorello, is there maybe any information on the progress on this?

[2021-01-14 01:03] albertcarrete opened #66 "Detecting changes after a route change?"
I'm wondering if this is within the scope of the package. Currently, react-awesome-reveal uses Intersection Observer to determine if an element is within the viewport. So when an element remains within the viewport during say, a route change that uses the same component, RAR does nothing because the element hasn't left the viewport. I would like a way to reanimate the same initial animation each t

[2021-01-20 09:38] Allwithyou999 commented on #57
I had the same issue with v3.7.0

[2021-01-20 16:46] dennismorello commented on #57
Why are you wrapping the `<h1>` elements twice with `<Slide>`?

[2021-01-20 16:52] Allwithyou999 commented on #57
That is just an example. When I use another <Slide> or <Fade> in a <Slide>,
I have an issue. For v3.4.0, I don't see this issue. So for now, I use
v3.4.0.

On Wed, Jan 20, 2021 at 8:46 AM Dennis Morello <notifications@github.com>
wrote:

[2021-01-20 16:54] dennismorello commented on #57
But why would you want to use nested animation components?

[2021-01-20 17:02] Allwithyou999 commented on #57
I updated the actual code I am using. Firstly, the sub-navigation section is shown with the slide effect, and then, the items of the submenu will be shown with the cascade slide in the section.

[2021-02-01 21:27] caseymhunt opened #67 "Unexpected animation over nested lists"
### Observed behavior
Currently when nested lists are present, the library will animate over the list items and treat the nested list as a single object rather than iterating over the list items within the nested list when the `cascade` prop is in use.

Simplified example code:
[code]

### Expected behavior
I expect that all children (and grand-children) wrapped within `<Fade>` will animate in seq

[2021-02-01 21:39] dennismorello commented on #67
You have to wrap the entire <ul> inside the <Fade> component.

Dennis Morello
Front-End Engineer

W: https://morello.dev
E: dennismorello@gmail.com
Il 1 feb 2021, 22:27 +0100, Casey Hunt <notifications@github.com>, ha scritto:

[2021-02-01 21:48] caseymhunt commented on #67
When I wrap the entire `<ul>` and remove the `cascade` prop the whole list comes in as a single chunk.

[2021-02-01 21:57] caseymhunt commented on #67
This appears to be related- I am using a `Box` primitive component (Read: https://theme-ui.com/components/box/) and when I use this component along with the `as` prop, the animation behavior I see is different than if I use raw HTML (`ul`).

My code looks more like this:
[code]

[2021-02-06 20:32] marcelscruz commented on #57
Hi Dennis,

Do you have any updates on that, or what worked for you to get rid of the error?

I tried with the following versions, but still get the message:

- 3.4.0
- 3.5.2
- 3.7.0

I understand this is caused by Emotion, just trying to see if there's a workaround for it.

Thanks!

[2021-02-07 13:19] cargallo commented on #57
If you downgrade to 3.4.0 that should work. At least I did that and it worked for me.

[2021-02-08 15:54] marcelscruz commented on #57
Unfortunately, it didn't. :/

But thanks for suggesting it.

[2021-02-08 15:58] cargallo commented on #57
Then, check that you are not using nested animations.

[2021-02-08 16:44] marcelscruz commented on #57
Yep, I was. Removing nested animations combined with downgrading to 3.4.0 did the trick.

Thanks!

[2021-02-12 16:20] ovcOS opened #68 "Buggy fraction prop"
When the `fraction` prop is present in any component and an animation begins outside of the viewport, the animation gets stuck. To reproduce, try a `<Roll>` or `<Slide>`, positioning the component on the very left of the viewport. Inspecting the HTML reveals a forever-twitching class.

I'm on version `3.4.0`

[2021-02-14 07:43] aaronsarnat commented on #57
I was just looking through [issues](https://github.com/emotion-js/emotion/issues) on Emotion's repo. I didn't find any obvious open issues that pertain to this particular problem we're having.

Has anyone here thought about opening an issue with Emotion in hopes that it might put this bug on their radar if it isn't already? I would, except I don't really understand the underlying problem or how to

[2021-02-16 19:38] cabello commented on #57
I am facing the same issue, my app is on Emotion 10, react-awesome-reveal 3.5 and up is on Emotion 11, I see the same errors, downgraded to v3.4.0 for now.

On related matters I tried to upgrade Emotion to 11, but Typescript support changed and Theming and other things proved harder than expected, I explored for a day but will leave that for the future.

[2021-02-23 00:42] aaronsarnat commented on #57
FYI everyone, this is just a dev warning and not an actual error. The warning doesn't show up in production, so I consider this at worst a minor annoyance during dev time. I'm not going to worry about it anymore, nor am I going to roll back to a previous version. So far it's working great on prod with no errors (or warnings) which is all I care about.

[2021-02-23 01:04] caseymhunt commented on #57
That’s nice for you, but it was causing visual behavior issues for me.

On Mon, Feb 22, 2021 at 6:42 PM Aaron Sarnat <notifications@github.com>
wrote:

--
----
casey hunt
casey.hunt@gmail.com  |  @caseymhunt | caseymhunt.com
<casey.hunt@gmail.com>

[2021-03-02 05:13] lemihthien opened #69 "Can't install with React 17.0.1"
I can't install package with react 17.0.1

[code]

[2021-03-06 08:29] pgrodrigues commented on #69
@lemihthien `npm install --force` should do the trick, but still maybe react-awesome-reveal package.json could be adjusted.

[2021-03-06 08:49] #69 closed

[2021-03-06 09:14] dennismorello commented on #67
It is not an issue with `react-awesome-reveal`, it is a matter of components composition. Since the lib uses the element type to detect lists (`ol`s and `ul`s), you should use a snippet like this to achieve the desired result:

[code]

[2021-03-06 09:14] #67 closed

[2021-03-06 09:18] dennismorello commented on #66
This is out of scope. Use another solution to add transitions on route changes (see https://reactrouter.com/web/example/animated-transitions).

[2021-03-06 09:18] #66 closed

[2021-03-29 09:36] princefishthrower opened #72 "Example for cascading single letters with a span?"
I'm struggling to use `<Fade>` on single letters - whether the letter itself is wrapped in a `<div>` or a `<span>`, it seems to render the letters vertically - is there anyway to fix this behavior? In my use case, each of my letters have a custom color and thus are in a span already. Then using `<Fade>` causes these spans to render vertically. Code sandbox for what I mean: https://codesandbox.io/s

[2021-03-30 16:47] emdotem commented on #50
+1

[2021-04-12 07:02] dennismorello commented on #72
Just pass the prop `style={{ display: "inline" }}` to `<Fade>`.

[2021-04-12 07:02] #72 closed

[2021-04-13 01:21] EliotSlevin commented on #57
Any updates on this?

I also don't see any issues like this in [emotions issues](https://github.com/emotion-js/emotion/issues) log, I'm just not sure if it's actually an issue caused by emotion - wouldn't it be showing up in other emotion powered projects?

I'm personally only seeing it as a dev only issue, but it can't be ruled out that it won't cause errors in surprising mysterious way. React se

[2021-04-14 15:01] DiegoNakatori opened #73 "Lighthouse score limited"
Lighthouse score is limited by control dot implementation (see screenshot).

<img width="405" alt="Screenshot 2021-04-14 at 16 59 54" src="https://user-images.githubusercontent.com/79595889/114732672-00663500-9d43-11eb-9c46-58f02de71fd7.png">

[2021-05-25 17:24] janhoeck commented on #68
Having the same issue

[2021-05-26 03:29] rowe-morehouse opened #77 "demo site not showing effects?"
Is something wrong with your demo site?

https://react-awesome-reveal.morello.dev/docs/pulse

Trying to see the effects … just get large purple buttons for all effects.

I tried it in 2 different browsers. Not sure if it's me or you.

[2021-05-27 17:14] bradniksa commented on #68
Try adding "triggerOnce"

[2021-06-07 21:50] nicholaschiang opened #79 "Export component props separately in TypeScript"
Currently, you're only exporting the component types from `dist/index.d.ts`. Could you also export the component prop types?

For example, I'm trying to use Next.js [`dynamic`](https://nextjs.org/docs/advanced-features/dynamic-import) feature to dynamically import the `Fade` component from this library. But I can't do it in TypeScript without access to the `FadeProps` type:

[code]

[2021-06-07 23:09] morellodev commented on #79
+1 for this, I will release a new version with prop types export.

For simpler use cases, this built-in utility type coming from React can be used today:

`type FadeProps = React.ComponentProps<typeof Fade> `

[2021-06-09 20:16] morellodev commented on #79
The feature has been merged into `develop` and will be released in the next major release (v4).

[2021-06-09 20:17] #79 closed

[2021-06-09 20:17] morellodev commented on #77
The demo website is quite old, I am rewriting it using Docusaurus.

[2021-06-12 10:59] bentong95923 commented on #57
I am also feeling the same. I feel like there is something wrong with the code that uses the emotions js in the react-awesome-reveal plugin.  It will be great if there is someone who can review it to tackle the problems.

[2021-06-21 17:13] evgeny-s opened #82 "Is it possible to wrap component with Fragment, without additional div?"
See question in topic.
Thanks!

[2021-06-21 17:48] morellodev commented on #82
Yes, you can!

[2021-06-21 17:48] #82 closed

[2021-06-21 21:45] evgeny-s commented on #82
How can I do this?
Could you please share some option or prop to achieve this?
Thanks!

[2021-06-21 22:07] evgeny-s commented on #82
I've provided `className` for the container, but now it turns all children to be animated separately, but I need to have only parent element animated.

[2021-07-08 17:03] tills13 commented on #57
To be clear, this is because it's a class of error that's suppressed by React in production mode, not because it's "just a dev warning."

To everyone else, I assume your code looks something like this?

[code]

The issue is with [this line](https://github.com/emotion-js/emotion/blob/23f43ab9f24d44219b0b007a00f4ac681fe8712e/packages/react/src/emotion-element.js#L91) in Emotion, which also hints at

[2021-07-09 00:39] aaronsarnat commented on #57
Point taken @tills13. Though I'd still emphasize that it's presented as a "warning" and not an "error." In any case, thanks for doing a deep dive into the emotion code to identify the culprit.

[2021-07-09 02:02] tills13 commented on #57
I have taken the liberty of submitting an issue to the Emotion repo and I'll have a PR there soon as well.

https://github.com/emotion-js/emotion/issues/2423

[2021-07-11 00:37] hedwardd commented on #52
@morellodev

First, thank you for this awesome library. I'm very grateful.

Second, I had the same issue as above and was confused until finding this issue. (Unless I missed it) Might I suggest adding something to the documentation about this effect? Maybe something similar to [this](https://www.npmjs.com/package/react-reveal#children)

Again, thank you for the work you've put into making this lib

[2021-07-11 06:19] itayganor commented on #52
Maybe Typescript can help protecting this, with an expectation to get a single `ReactElement` and not `ReactElement[]` or `ReactNode`.

If not, maybe a log message in the console when the component gets more than a single child.

[2021-07-19 20:39] LureDev opened #84 ""delay" prop is not counting on milliseconds."
Something is wrong with the `delay` prop. It's not counting the delay by milliseconds (at least on the `Fade` element).
If i pass `delay="1000"`, it will take 10 seconds to run the animation, but the correct would be 1 second, since 1000 milliseconds is 1 second, right? But if i pass `delay="100"`, then it takes 1 second to run the animation.

This is my code, if you need to take a look:
[code]

[2021-07-19 20:40] morellodev commented on #84
The `delay` prop must be passed as a number, not as a string.

[2021-07-19 23:14] LureDev commented on #84
Ooh, sure. I'm sorry about it xD, it's working correctly now with number values.

[2021-07-19 23:14] #84 closed

[2021-07-30 07:09] papuruth commented on #57
I would like to mention a warning too about @emotion/core package. I have separate @emotion/core package installed in my project and since this package is using @emotion too therefore react logs warning into console. Is there any way to suppress the warning?

[2021-08-18 23:48] amingarro opened #86 "Origin animation distance"
Please, could you add this feature?

Example: **distance="50px"**
`<Fade direction="right" distance="50px" cascade="true" damping="0.3">`

Thank you very much for your work, greetings.

[2021-08-21 06:38] morellodev commented on #86
Hi, you can only play with the `fraction` prop listed [here](https://github.com/morellodev/react-awesome-reveal#props), because this is the way the Intersection Observer API works.

Anyway, be sure to pass the props using the right types:

[code]

[2021-08-27 20:26] CodaBool opened #87 "triggerOnce true by default"
# background
this is an awesome library, was using react-reveal but is currently as of 8/2021 breaking on newest React requiring a force install.

# Discussion
I tested a few modules and they usually have a fade in to happen once by default. I think this would be the most common use case and should be set that same way here. What would be your thoughts on changing this to default true?

[2021-08-31 20:56] yang opened #88 "Calculate intersection based on where element would appear rather than where element currently is"
First, thanks for this wonderful library @morellodev!

Would you consider changing the intersection calculations to use where the element *would* appear as the subject of the IntersectionObserver, rather than using the element that is being transformed? The former is static and stable, whereas the latter is a moving target and can cause an infinite feedback cycle.

I believe this is the root cause

[2021-08-31 21:31] yang opened #89 "Distinguish fraction for entrance and exit"
Setting `fraction` to 0.5 will make it (suddenly, without transition) disappear when scrolled half-away - request is to make fraction only affect entrance not exit. (You can optionally introducing an exitFraction, but that would imply also implementing exit transitions, and I imagine it's not as important a feature request.)

[2021-09-02 19:58] nagman commented on #86
I don't think it's what @amingarro meant. `distance` here is relative to how much the element should translate during its animation.
The default is a translate of `100%`, but that's way too much in most cases.

[2021-09-07 11:03] adstr123 commented on #87
I think most use cases would have `triggerOnce` set as true (certainly the sites I seem to browse/develop prefer this). But given that this would be a significant breaking change, I don't think it's worth it. Suddenly, all the sites currently using this library without having specified a `triggerOnce` value (and therefore leaving it as the default `false`) would have their behaviour changed.

[2021-09-07 23:53] CodaBool commented on #87
👍  fair enough. I'll close this up

[2021-09-07 23:53] #87 closed

[2021-09-10 19:09] cZeaushe opened #90 "Z-index problem"
When working with sections that have z-index applied to them the animation messes up the z-index.

It can be solved by adding `animation-fill-mode: backwards !important;` but there is not general class name for animations.

[2021-09-20 12:32] Senty11 opened #91 "Animation lag with large components"
Hello! I'm using react-awesome-reveal for a project and it seems on mobile phones it's lagging when used with large image components. On PC though it works fine. Any suggestions?

Here's a code preview and video of the lag:

https://user-images.githubusercontent.com/52800564/134001691-ff562536-9778-486e-8846-bf33ab135805.mp4

[2021-10-05 20:12] amchelle opened #96 "Could not find a declaration file for module '@emotion/serialize'"
I'm getting this error when running npm run build:
[code]
Attempted multiple versions, but receiving the same error (3.8.1, 3.5.2, 3.4.0)

node: v14.15.3
npm: v6.14.9
typescript: v4.3.5

[2021-10-06 02:40] jpatterson933 commented on #90
@cZeaushe which element are you adding `animation-fill-mode: backwards !important;`  to? I have a fixed element that has a z-index of 99 and an banner element that is supposed to be behind the fixed element but the z-index on the fixed element is no longer working - I've tried it both ways but maybe I am missing something.

[2021-11-09 21:56] federicocappellotto97 opened #98 "TypeError: Cannot read property 'css' of undefined"
I'm using next@12.0.3 and react-awesome-reveal@3.8.1
Why am I getting this error?
`TypeError: Cannot read property 'css' of undefined`

<img width="804" alt="Schermata 2021-11-14 alle 14 32 53" src="https://user-images.githubusercontent.com/63153191/141683363-05a678b2-6629-4355-9e8f-1db0cb477aaa.png">

This is how i'm using it:
`import { Fade } from 'react-awesome-reveal'`
`<Fade direction="down"

[2021-11-17 19:56] kikoanis commented on #50
I am not sure if this is really related to whether SEO can crawl hidden DOM elements or not and correct me if I am wrong. The library is about revealing DOM elements when they are in browser view port. My question is what could prevent SEO from crawling such elements if they were hidden by some CSS.

Am I missing anything here?

[2021-11-22 02:01] idindrakusuma commented on #77
Hi @morellodev
are you still developing the documentation?
I'm still can't show the demo in https://react-awesome-reveal.morello.dev/docs/effects/flip

Can I help for this?

[2021-11-22 06:14] morellodev commented on #77
I did not have much time to work on this, but I will definitely improve the docs.

[2021-12-04 23:06] CodaBool opened #100 "Backtick string memory error"
[code]

When attempting to render the following. I got a stalled render which eventually logged a JS stacktrace "FATAL ERROR: Reached heap limit Allocation failed - JavaScript heap out of memory".

Workaround is to use a double quotes but back ticks should be supported

[2021-12-09 14:51] 000Erick commented on #86
I have the same problem I need the property "distance", is there any temporary solution ?

[2021-12-25 14:40] sshmaxime commented on #91
have you figure out what's up ? @Senty11

[2022-02-07 15:22] CaCaBlocker commented on #90
Hi, @jpatterson933. I had the same issue during the development. According to your comment, I tried and some sections were success, but some sections were failed. So, I unwrapped the fade effect from the header section(fixed on top), and then it run well.
Why is such issue happened?

[2022-02-21 21:03] carlos-dubon opened #108 "Trigger on-demand"
How can I trigger the effect on demand?

I'm facing the following scenario:

[code]

I scroll just enough for the `Hello` word to show up in my display and wait for a second. Then I continue scrolling just to encounter that `Hola` and `Bonjour` haven't been animated.

## Current behaviour:
![current](https://imgur.com/JougGHh.gif)

## Desired behaviour:
![desired](https://i.imgur.com/rTk8Grh.gif)

[2022-03-16 07:24] yang commented on #86
You'll need to use custom keyframes, code snippet here: https://github.com/morellodev/react-awesome-reveal/issues/43

[2022-04-06 17:05] irwinmck opened #114 "Is there a way to forcibly re-trigger the animation?"
## Use Case
An API request is occurring on a set-interval in which the returned data is wrapped in a react-awesome-reveal  `<Fade cascade />` component and mapped/displayed. After each successful API request (the data changes), the animation should replay.

## Potential Solution
Provide a dependency prop which would replay the animation whenever the prop value changes.

[2022-04-07 07:24] Damjanose commented on #57
I'm at version 11.9.0 and i'm still getting the same error. Is this fixed yet?

[2022-04-07 16:30] irwinmck commented on #114
Found a way to get this working for my use-case. I needed to ensure each `key` value of the mapped objects were always unique from the previous data response keys and the animation automatically plays for the different values.

[2022-04-07 16:30] #114 closed

[2022-05-05 17:38] RustyNova016 opened #119 "Property 'children' does not exist on type 'IntrinsicAttributes & FadeProps'."
![image](https://user-images.githubusercontent.com/50844553/166980935-32814a47-9a07-46d5-8b85-1d3b469e9182.png)

My IDE thinks you can't put a children inside a Fade component, but it still works regardless

[2022-05-05 17:42] morellodev commented on #119
Are you using React 18? The `children` prop is missing from the `React.FC` type definition for React 18, I have to release a new version of the library that is 100% compatible with the new React version.

[2022-05-05 17:47] RustyNova016 commented on #119
Yeah it's react 18.1 along Next.js. Thankfully it still works for now.

[2022-05-05 17:49] morellodev commented on #119
This is an issue affecting only the type definitions, not the components behavior at runtime with React 18.

[2022-05-08 17:32] morellodev commented on #119
A new preview release is out, please upgrade to v4 beta by running:

[code]

Please note that from version 4 the `@emotion/react` dependency must be explicitly installed (it is now a peer dependency of RAR).

[2022-05-08 17:32] #119 closed

[2022-05-08 17:32] morellodev commented on #98
A new preview release is out, please upgrade to v4 beta by running:

[code]

Please note that from version 4 the `@emotion/react` dependency must be explicitly installed (it is now a peer dependency of RAR).

[2022-05-17 08:46] Rubenoo opened #121 "Fix removal of implicit children"
In React 18, I can't pass the children props to transitions because the children prop is not being mentioned in the RevealProps interface.

Right now i get this error:

Property 'children' does not exist on type 'IntrinsicAttributes & SlideProps'

Fix this by adding the children prop to the RevealProp interface.

[2022-05-19 15:50] morellodev commented on #121
Please use the v4 beta (instructions [here](https://github.com/morellodev/react-awesome-reveal/discussions/120)). The more the beta is tested, the sooner the v4 stable is released.

[2022-05-30 00:07] OopsOverflow commented on #121
This issue should be marked critical. The fix is simple, yet it is halted because we're awaiting a beta to come out...

[2022-06-01 09:00] ivanjeremic opened #122 "Type issue when using `Slide` in a map/List with children"
When I do something like this I get the TypeScript Error.
[code]

[code]

How can it be that `Slide` is not taking any children that cannot be true because my code works in the browser?

[2022-06-17 19:34] waynekhalifa opened #125 "The missing children prop type, should fork and add the children prop type"

[2022-06-17 19:38] morellodev commented on #125
Please use the v4 beta

[2022-06-18 08:15] #125 closed

[2022-06-18 08:19] waynekhalifa commented on #125
Thanks

[2022-08-02 18:48] issimissimo opened #129 "Flex:1 is ignored"
If you create a Reveal component, and you create inside it a div with a classname="flex-1" (I'm using Tailwind), this CSS property (flex:1) will be ignored.
The only solution that I've found is to create the div first (with classname="flex-1"), and next put all the others elements after the Reveal component.
It's not the best, since you can have issues later on

[2022-08-03 06:40] morellodev commented on #129
Would you mind creating a Codesandbox reproduction of the issue?

[2022-08-07 21:41] #121 closed

[2022-08-16 07:29] howardleejh opened #131 "Failed to parse source map for multiple files"
I'm using the latest versions of react and came across multiple "Failed to parse source map from ..."  when using React Awesome Reveal. Was wondering if there's a fix to this? Current version of repo:

- React ^18.2.0
- React Scripts ^5.0.1
- React Dom ^18.2.0

[2022-08-16 07:35] morellodev commented on #131
Could you reproduce the issue on Codesandbox?

[2022-08-16 07:47] howardleejh commented on #131
It seems like the missing source maps are not appearing on CodeSandBox. But it appears on my local dev environment.

[2022-08-16 07:50] morellodev commented on #131
If the issue is not deterministically reproducible, it is likely an issue with your env rather than with the lib itself. Which Node version (and package manager) are you using?

[2022-08-16 18:26] #131 closed

[2022-08-16 18:27] #129 closed

[2022-08-16 18:27] #122 closed

[2022-08-16 18:27] #98 closed

[2022-08-16 18:27] #96 closed

[2022-08-16 18:28] #28 closed

[2022-08-16 18:28] #50 closed

[2022-08-16 18:28] #57 closed

[2022-08-18 06:57] howardleejh commented on #131
I'm currently using node v18.4.0 and npm v8.12.1.

[2022-08-26 17:16] morellodev opened #133 "Text content causes infinite recursion"
When passing a text content (just a string) to an animated component, the `<Reveal />` component is recursively calling itself forever.

## Steps to reproduce

[code]

[2022-08-26 17:27] #133 closed

[2022-09-01 12:04] Retch opened #135 "Add feature to play animation on condition"
maybe add a disabled tag which can be manipulated to play when state changes.

[2022-09-01 12:05] Retch commented on #135
maybe add a disabled tag which can be manipulated to play when state changes.

[2022-09-05 08:30] andisaba opened #137 "Module Warning (from ./node_modules/source-map-loader/dist/cjs.js): Failed to parse source map"
Have used 'React Awesome Reveal' with React 17... no problems... works extremely well!

However, I have installed and tried to implement in current React 18 project and now receiving 100 errors in terminal... basically all reveal error types ...the following is an example:

Is 'React Awesome Reveal' not compatible with react 18 yet OR is there some other possible explanation that I am overlooking?

[2022-09-05 08:44] morellodev commented on #137
React Awesome Reveal is fully compatible with React 18 starting from v4, this is not an issue related to React 18 support.

It seems your setup tries to read the source maps from an invalid path (source maps are shipped with the package), may you give me additional details?

[2022-09-05 09:23] andisaba commented on #137
OK ... my only main difference between my last project and this one is Material UI installed.
Dependancies include:

    "@mui/icons-material": "^5.8.4",
    "@mui/material": "^5.9.0",
    "@mui/styled-engine-sc": "^5.8.0",
    "react-awesome-reveal": "^4.0.1"

I installed 'react-awesome-reveal' via NPM ...npm install react-awesome-reveal

**No** errors on install shown!

In my component:

Wrapped

[2022-09-08 15:05] DoomyCrystal opened #140 "Fade component duplicates parent element"
I'd like to animate the children elements inside this grid container:
[code]
However, the Fade component seems to duplicate the parent element for each child element:
[code]
When I use any other html tag, there's only one container, but with two children. Why not with Fade?

[2022-09-09 06:48] morellodev commented on #140
It is a totally normal behavior, since composition works this way.

I plan to add an `as` prop to change the element rendered by an animated component; in the meanwhile, you can refer to this [CodeSandbox example](https://codesandbox.io/s/busy-alex-jv50jp?file=/src/App.tsx) to achieve your intent.

[2022-09-12 07:21] DoomyCrystal commented on #140
Awesome, now it's working. Thanks a lot for the example!

[2022-09-12 07:25] #140 closed

[2022-09-15 06:57] #77 closed

[2022-09-15 06:57] #73 closed

[2022-09-15 06:58] #100 closed

[2022-09-15 10:17] animesh28 commented on #137
This issue persists on my end too, I've got 100 compile warnings from one import 😢

[2022-09-18 00:39] OlegGlo commented on #137
Same issue here.

[2022-09-18 02:35] fidaay commented on #137
I got the same issue andisaba presents.

[2022-09-26 10:19] Upbolt commented on #135
i made a little wrapper component that you can use as well

[code]

hope it helps

[2022-09-26 10:24] morellodev commented on #135
This feature is outside the scope of the library (the only condition that triggers an animation is the visibility in the viewport).

[2022-09-26 10:24] #135 closed

[2022-09-26 23:17] Soapalin commented on #137
same for you and I also use Material UI...

[2022-09-26 23:39] fidaay commented on #137
To anyone stopping by, I did this with react-app-rewired to neutralize the warning messages:

[code]

[2022-09-27 07:23] morellodev commented on #137
So I guess you are using `create-react-app`, it was not specified when the issue was opened. If I have time I will look into this, but it is not an issue with the lib itself.

[2022-09-27 07:36] fidaay commented on #137
I shared what I did, didn't indicate anything. In that way I can develop without seeing 100 warning messages.

[2022-10-10 06:40] #91 closed

[2022-10-10 07:53] morellodev commented on #137
Fixed in [v4.1.0](https://github.com/morellodev/react-awesome-reveal/releases/tag/v4.1.0)

[2022-10-10 07:53] #137 closed

[2022-10-11 09:09] morellodev commented on #121
Please use the v4 beta.

Il giorno mar 17 mag 2022 alle 10:47 Rubenoo ***@***.***> ha
scritto:

--
*Dennis Morello*
Front-End Software Engineer

W: https://morello.dev
E: ***@***.***

[2022-10-12 07:59] andisaba commented on #137
Thanks for the fix... that's fantastic!

I'm keen to give it another go... fingers crossed!

Cheers!

[2022-10-14 13:26] jamesmart77 opened #146 "New Release issue"
Hey there, i believe the 4.1.0 release is causing a breaking change. Once i downgrade back to v4.0.1 the issue is resolved.

Here's the implementation --- nothing too complex.
[code]

Here's the console error.
![image](https://user-images.githubusercontent.com/29242164/195857343-c31b1093-d561-432a-9c7b-b8c67ca55975.png)

My project is using node v16.17.1 and on react v17.0.2 and react-scripts v17.

[2022-10-15 07:40] morellodev commented on #146
Please make a reproducible example on Codesandbox following [this](https://codesandbox.io/s/react-awesome-reveal-typescript-177uom?file=/src/App.tsx) link.

I tried your snippet and I had no errors.

[2022-10-15 07:54] #108 closed

[2022-10-15 07:57] morellodev commented on #90
Could you please make a reproducible CodeSandbox example starting from [this](https://codesandbox.io/s/react-awesome-reveal-typescript-177uom?file=/src/App.tsx) template?

[2022-10-15 07:58] #89 closed

[2022-10-22 17:59] jakebooy2 opened #147 "Cannot use package"
Whenever I import any of the elements from this package, I get this error:

./node_modules/react-awesome-reveal/dist/index.mjs
Can't import the named export 'Children' from non EcmaScript module (only default export is available)

[2022-10-22 18:03] morellodev commented on #147
Sorry Jake,

I need a reproducible example of the issue with the details about your environment.

Follow the guidelines for opening an issue, thanks.

[2022-10-23 15:28] Viskazz commented on #147
Same here. I'm just updated to v.4.1.0 from 3.3.2. Will return if can reproduce

[2022-10-29 07:21] amareshcoding opened #149 "Facing issue during compilations"
**Describe the bug**
[code]

**Expected behavior**
Compiled properly and generate output

**Screenshots**
![image](https://user-images.githubusercontent.com/96060638/198819175-ade88569-25d7-4a68-bcb9-469229a4f697.png)

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser - chrome(Brave)

[2022-11-03 15:30] kallinlobus opened #150 "For anyone having issues with the latest release! Missing @emotion/react/dist/..."
error - ./node_modules/@emotion/react/dist/emotion-element-cbed451f.browser.esm.js

Steps to reproduce:
npm install react-awesome-reveal @emotion/react --save
npm run dev

Fix:
npm uninstall @emotion/react
npm install react-awesome-reveal @emotion/react@11.10.4 --save

The @emotion/react package has been updated since the latest release of react-awesome-reveal, so the earlier version of @emotion/r

[2022-11-03 21:11] morellodev commented on #150
I tried with the latest Emotion version (https://www.npmjs.com/package/@emotion/react/v/11.10.5) without any issue.

Could you please add more environment specific details?